* {
    /*border: 1px solid red;*/
    margin: 0;
}

body  {
  background-color: white;
  color: gray;
  font-family: 'Montserrat', sans-serif;

}
header  {
  padding: 25px;
}

h1 {
  color: #f38481;
  /*margin-top: 10px;*/
  font-size: 1.8em;
  line-height: 1.4;
  font-weight: normal;
  margin-top: .2rem;
  margin-bottom: .5rem;
}
p {
  font-style: italic;
  font-family: 'Droid Serif', serif;
  padding-top: 4px;
  font-style: italic;
  color: #bbb;
}
header  {
  padding-left: 50px;
}
.egg  {
  width: 50%;

}
ul{
  padding: 0;
  list-style-type: none;
}
li  {
  /*display: inline;*/
  width: 50%;
  float: left;
  text-align: center;
  color: white;
  height: 500px;

}


.eggimage {
  height: 350px;
  width: 350px;
}

.description {
  font-style: italic;
  max-width: 70%;
  margin: 10px auto;
}


footer  {
  clear: both;
}
#hard_boiled  {
  background-color: #ec7471;
}
#soft_boiled  {
  background-color: #93dc88;
}
#ss-up  {
  background-color: #85cdf4 ;
}
#poached  {
  background-color: #c097cc ;
}
#over_easy  {
  background-color: #2bcbc5 ;
}
#over_hard  {
  background-color: #f3bfb9 ;
}
#scrambled  {
  background-color: #e3d578 ;
}
#omelette {
  background-color: #7191e4 ;
}
#baked_eggs {
  width: 100%;
  background-color: white;
  color: #40E0D0;
}
footer  {
  background-color: black;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  height: 80px;
}
.made_by  {
  float: left;
  text-decoration: none;
  font-size: 1.0rem;
  line-height: 3rem;
}

.social_links {
  float: right;
}
footer img {
  height: 40px;
  width: 40px;
  padding-right: 20px;
}
.square  {
  height: 2px;
  width: 20px;
  background-color: white;
  display: inline-block;
}
.square#baked_eggs {
  background-color: #40E0D0;
  height: 2px;
  width: 20px;
}
